{% extends 'springtime/main.html' %}

{% block body_block %}
	<strong>Welcome back, {{ user.username }}! &nbsp; Please select a date:</strong>

<form id="booking_form" method="post" action="/springtime/bookings/">

<div class ="row">

<div class = "4u">
     {% csrf_token %}    
    {{form.date}}
</div>

    </div>
        
<!--
<div id ="timeSlots" style="visibility:hidden;">
{%for radio in form.slots %}
<div class="radioChoices">
    {% if radio.choice_value != '0' %}
    {{radio}}
    {% else %}
    <Strong>Unavailable, sorry!</Strong>
    {% endif %}
</div>
{% endfor %}
</div>
-->
    

<input type="submit" name="submit" value="Get times...">
</form>


{% endblock %}