{% extends 'springtime/main.html' %}

{% block body_block %}
	<strong>Welcome back, {{ user.username }}!</strong>

<div>
<form id="booking_form" method="post" action="/springtime/bookings/">
 {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
<input type="submit" name="submit" value="Request Booking">
</form>
    </div>
{% endblock %}