{% extends 'springtime/main.html' %}

{% block body_block %}
	<strong>Welcome back, {{ user.username }}!</strong>



<form id="booking_form" method="post" action="/springtime/bookings/">

<div class ="row">

<div class = "4u">
     {% csrf_token %}    
    {{form.date}}
    <a class="button" onClick="document.getElementById('timeSlots').style.visibility = 'visible';" > Find times... </a>
</div>

    
<div class = "8u">
    
<div id ="timeSlots" style="visibility:hidden;">
{%for radio in form.slots %}
<div class="radioChoices">
    {% if radio.choice_value != '0' %}
    {{radio}}
    {% else %}
    <Strong>Unavailable, sorry!</Strong>
    {% endif %}
</div>
{% endfor %}
    </div>
    
</div>

</div>
    

<input type="submit" name="submit" value="Request Booking">
</form>


{% endblock %}