{% extends 'springtime/main.html' %}

{% block body_block %}
	<strong>Welcome back, {{ user.username }}! &nbsp; You've selected: {{chosendate}}</strong>

</br>
<Strong>The available timeslots on that date are:</Strong>

<form id="booking_form" method="post" action="/springtime/bookings/">
    
    
<div class ="row">

<div class = "4u">
     {% csrf_token %}   
    
    
    {% for slot in slots %}
    
    {%for key, value in existingtimes.items %}
    {% if chosendate == key %}
    {% if slot in value %}
    
    Sorry, this slot is taken.
    
    
    {% else %}
    <div class="radio">
         <label for="id_slot_{{slot}}"><input id="id_slot_{{slot}}" name="slot" type="radio" value="{{slot}}"/> {{slot}}:00 </label>
    </div>
    {% endif %}
    {% else %}
    <div class="radio">
         <label for="id_slot_{{slot}}"><input id="id_slot_{{slot}}" name="slot" type="radio" value="{{slot}}"/> {{slot}}:00 </label>
    </div>
    {% endif %}
    {% endfor %}


    {% endfor %}
    
</div>

</div>

    
         {% for hidden in timeslotform.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in timeslotform.visible_fields %}
                {{ field.errors }}
                <b>{{ field.help_text }}</b>
                {{ field }}
            {% endfor %}

<input type="submit" name="submit" value="Request Booking">
    
    
</form>


{% endblock %}