{% extends 'springtime/main.html' %}

{% block body_block %}
	<strong>Welcome back, {{ user.username }}! &nbsp; You've selected: {{chosendate}}</strong>

</br>

{{existingtimes}}

<Strong>The available timeslots on that date are:</Strong>

<form id="booking_form" method="post" action="/springtime/bookings/">


    
    
<div class ="row">

<div class = "4u">
     {% csrf_token %}   
    
    
    {% for slot in slots %}
    {% if chosendate in existingtimes%}
    GOTEM
    {% endif %}

    <div class="myradio">
         <label for="id_slot_{{slot}}"><input id="id_slot_{{slot}}" name="slot" type="radio" value="{{slot}}" required /> {{slot}}:00 </label>
    </div>
    {% endfor %}
    

    
    
</div>

 </div>


<input type="submit" name="submit" value="Request Booking">
</form>


{% endblock %}