{% extends 'springtime/main.html' %}

{% block body_block %}
	<strong>Welcome, {{ user.username }}! &nbsp; You've selected:<div id="date"> {{chosendate}} </div></strong>

</br>
<Strong>The available timeslots on that date are:</Strong>

<form id="SelectSlotForm" method="post" action="{% url 'make_booking' %}">
    
    
<div class ="row">

<div class = "6u">
     {% csrf_token %}   
    
    
    {% for slot in slots %}
    
    {%for key, value in existingtimes.items %}
    {% if chosendate == key %}
    {% if slot in value %}
    
    Sorry, this slot is taken.
    
    
    {% else %}
    <div class="radio">
         <label for="id_slot_{{slot}}"><input id="id_slot_{{slot}}" name="slot" type="radio" value="{{slot}}" onClick="updateDateTime({{slot}})"/> {{slot}}:00 </label>
    </div>
    {% endif %}
    {% else %}
    <div class="radio">
         <label for="id_slot_{{slot}}"><input id="id_slot_{{slot}}" name="slot" type="radio" value="{{slot}}"  onClick="updateDateTime({{slot}})"/> {{slot}}:00 </label>
    </div>
    {% endif %}
    {% endfor %}


    {% endfor %}
    
</div>
    
<div class="6u">
    {{selectslotform}}
</div>  

</div>
<input type="submit" name="submit" value="Request Booking"/>
    
    
</form>


{% endblock %}