{% extends 'springtime/main.html' %}
{% load staticfiles %}

{% block title_block %}
    Category
{% endblock %}
{% block body_block %}

    {% if category %}
    <div align="center">
    <h1 align="centre"><strong>All {{ category.name }} Trampolines:</strong></h1>
    </div>
    </br>
    <div align="center">
        {% if trampolines %}
            {% for trampoline in trampolines %}
            <img style="width:40%;" src="{% static "images/" %}{{ trampoline.trampolineID }}.jpg" alt="{{ trampoline.trampolineID }}" />
            {% endfor %}
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}
    </div>
    {% else %}
        The specified category does not exist!
    {% endif %}
{% endblock %}




