{% extends 'springtime/main.html' %}
{% load staticfiles %}

{% block title_block %}
    Category
{% endblock %}
{% block body_block %}

    {% if category %}
    <h1>{{ category.name }}</h1>
        {% if trampolines %}
            {% for trampoline in trampolines %}
            <img src="{% static "images/" %}{{ trampoline.trampolineID }}.jpg" alt="{{ trampoline.trampolineID }}" />
            {% endfor %}
        {% else %}
        <strong>No pages currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}

{% endblock %}
