{% extends 'springtime/main.html' %}
{% load staticfiles %}

{% block title_block %}
<title>Index</title>
{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		Welcome back, {{ user.username }}<br />
	{% endif %}

<div class="row">
                <div class="12u">
                    <h1>It's Spring-time!</h1>
                    
                    <p>No matter what kind of trampolining experience you're looking for, we've got you covered.</p>
                                        If you thought geometry in school was useless, get ready to be proven wrong!
                    <p>
                    We've got <strong>rounds</strong>. We've got <strong>squares</strong>. We've got <strong>roundsquares.</strong></p>
                </div>
</div>
            <div class="row">
                <div class="4u">
                        <img style="width:90%;" src="{% static "images/cir01468.jpg" %}" alt="{{ trampoline.trampolineID }}" />

                </div>
                <div class="4u">
                        <img style="width:90%;" src="{% static "images/per12345.jpg" %}" alt="{{ trampoline.trampolineID }}" />

                </div>
                <div class="4u">
                        <img style="width:90%;" src="{% static "images/rec12579.jpg" %}" alt="{{ trampoline.trampolineID }}" />

                </div>

            </div>

<form>
    
    </br>

</br>
[Temporary Date-Time]
</br>

  Please pick your desired date and time:
</br>
    {% now "Y-m-j" as current_date %} <!-- Format python's datetime.now() as Year-month-day, so we don't accept time-travelers -->


<input type="date" name="d" min="{{ current_date }}">
</form>
{% endblock %}