{% extends 'springtime/main.html' %}
{% load staticfiles %}

{% block title_block %}
    Our trampolines
{% endblock %}
{% block body_block %}
    {% if categories %}
    <hr>
    <strong>Select a category: </strong>
        {% for category in categories %}
            <span style="margin-left:4em"></span>
            <a href="/springtime/category/{{ category.slug }}"><button type="button">{{ category.name }}</button></a>
            <span style="margin-left:4em"></span>

        {% endfor %}
    <hr>
            {% for trampoline in trampolines %}
                {% if trampoline.broken == False %}
                <span style="margin-left:4em"></span>
                <img style="width:25%;" src="{% static "images/" %}{{ trampoline.trampolineID }}.jpg" alt="{{ trampoline.trampolineID }}" />
                <span style="margin-left:2em"></span>
                {% endif %}

            {% endfor %}
    {% else %}
        <strong>There are no categories.</strong>
    {% endif %}

{% endblock %}