{% extends 'springtime/main.html' %}
{% load staticfiles %}

{% block title_block %}
    Our trampolines
{% endblock %}
{% block body_block %}
    {% if categories %}
        {% for category in categories %}
            <a href="/springtime/category/{{ category.slug }}"><button type="button">{{ category.name }}</button></a>
        {% endfor %}
        </br>
            {% for trampoline in trampolines %}
                <img style="width:25%;" src="{% static "images/" %}{{ trampoline.trampolineID }}.jpg" alt="{{ trampoline.trampolineID }}" />
            {% endfor %}
    {% else %}
        <strong>There are no categories.</strong>
    {% endif %}


{% endblock %}
